.DS_Store
.#*
*.iml
/.idea
/.lsp
/.vscode
/target
pom.xml
pom.xml.asc
/.lein-*
/.nrepl-port
.DS_Store
jupyter/.ipynb_checkpoints/
.cljs_node_repl
out
node_modules
**.shadow-cljs
public/
.clj-kondo/.lock
.clj-kondo/inline-configs
.clj-kondo/.cache
.clerk
.cpcache/
presentations/reveal.js/examples
Readme.html
Readme.org
ltximg
