{:tasks
 {sha
  (let [sha (-> (shell {:out :string} "git rev-parse HEAD")
                (:out)
                (clojure.string/trim ))
        file "public/index.html"]
    (-> (slurp file)
        (clojure.string/replace "$GIT_SHA" sha)
        (->> (spit file))))

  dev
  (do (shell "npm install")
      (shell "npm run watch-clerk"))

  github-pages
  (do (shell "npm ci")
      (shell "npm run release-clerk")
      (shell "clojure -X:dev:nextjournal/clerk user/github-pages!")
      (spit "./public/CNAME" "emmy-viewers.mentat.org")
      (run 'sha))

  publish-local
  (do (shell "npm install")
      (shell "npm run release-clerk")
      (shell "clojure -X:dev:clerk user/publish-local!")
      (run 'sha)
      (shell "npm run serve"))

  release-gh-pages
  {:doc "Generate a fresh static build and release it to Github Pages."
   :task
   (do (shell "rm -rf public")
       (run 'github-pages)
       (shell "npm run gh-pages"))}

  release
  (shell "clojure -T:build publish")

  lint
  (shell "clj-kondo --lint src:dev")}}
