{:paths ["src"]
 :deps
 {io.github.nextjournal/clerk {:git/sha "946247e214e8c341be8d7aa7567da8004502b0d2"}
  sicmutils/sicmutils {:mvn/version "0.22.0"}
  org.mentat/jsxgraph.cljs {:mvn/version "0.0.1"}
  org.mentat/mathbox.cljs {:mvn/version "0.0.1"}
  org.mentat/mathlive.cljs {:mvn/version "0.0.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/clojurescript {:mvn/version "1.11.4"}
    thheller/shadow-cljs {:mvn/version "2.17.4"}}}

  :nextjournal/clerk
  {:extra-deps
   {applied-science/js-interop {:mvn/version "0.3.3"}
    binaryage/devtools {:mvn/version "1.0.3"}
    cider/cider-nrepl {:mvn/version "0.28.3"}
    org.babashka/sci {:mvn/version "0.5.36"}
    reagent/reagent {:mvn/version "1.1.1"}
    io.github.babashka/sci.configs {:git/sha "b5335b79c237344d003f16358321197a0b0a2ac6"}
    io.github.nextjournal/viewers {:git/sha "1aaedea7709611cbb393add4c85c7a2dd551260e"}
    metosin/reitit-frontend {:mvn/version "0.5.15"}}}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}

  :lint
  ;; Invoke with clj -M:dev:lint --lint src
  {:main-opts ["-m" "clj-kondo.main"]
   :replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}}

  :local
  {:replace-deps
   {io.github.nextjournal/clerk {:local/root "../clerk"}
    sicmutils/sicmutils {:local/root "../sicmutils"}}}}}
