{:paths ["src" "resources"]
 :deps
 {org.clojure/data.json {:mvn/version "2.4.0"}
  org.mentat/emmy {:mvn/version "0.30.0" :exclusions [org.babashka/sci]}
  org.mentat/jsxgraph.cljs {:mvn/version "0.2.0"}
  org.mentat/leva.cljs {:mvn/version "0.2.2"}
  org.mentat/mathbox.cljs {:mvn/version "0.2.0"}
  org.mentat/mathlive.cljs {:mvn/version "0.2.0"}

  org.mentat/mafs.cljs
  {:git/url "https://github.com/mentat-collective/Mafs.cljs.git"
   :git/sha "1dde18a529992788859b61b9bfa1ca393e10e15d"}

  org.mentat/clerk-utils
  {:git/url "https://github.com/mentat-collective/Clerk-Utils.git"
   :git/sha "1e0c4473073cadb35f938c6cea5dceeb3f5f95bd"}}

 :aliases
 {:nextjournal/clerk
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}
    djblue/portal             {:local/root "../portal"}
    io.github.nextjournal/clerk
    {:git/sha "1f6c5331418aaf9c5a4335fc2e6e95f07dc3af6b"}
    io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     :git/sha "1f6c5331418aaf9c5a4335fc2e6e95f07dc3af6b"
     :deps/root "render"}}
   :exec-fn user/build!}

  :portal
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}
    djblue/portal             {:mvn/version "0.41.0"}}}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
