{:paths ["src"]
 :deps
 {io.github.nextjournal/clerk {:mvn/version "0.11.603"}
  sicmutils/sicmutils {:mvn/version "0.22.0"}
  org.mentat/jsxgraph.cljs {:mvn/version "0.0.1"}
  org.mentat/mathbox.cljs {:mvn/version "0.0.1"}
  org.mentat/mathlive.cljs {:mvn/version "0.0.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/clojurescript {:mvn/version "1.11.4"}
    thheller/shadow-cljs {:mvn/version "2.17.4"}}}

  :nextjournal/clerk
  {:extra-deps
   {applied-science/js-interop {:mvn/version "0.3.3"}
    reagent/reagent {:mvn/version "1.1.1"}

    org.babashka/sci
    {:git/sha "ffb486bda57db0b74cdd17f58b4867e46a22345e"
     :git/url "https://github.com/babashka/sci"}

    io.github.babashka/sci.configs {:git/sha "fcd367c6a6115c5c4e41f3a08ee5a8d5b3387a18"}
    io.github.nextjournal/viewers {:git/sha "3284aae7379bde3fcf41d17c663bed421fb31d6d"}
    metosin/reitit-frontend {:mvn/version "0.5.15"}}}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}

  :lint
  ;; Invoke with clj -M:dev:lint --lint src
  {:main-opts ["-m" "clj-kondo.main"]
   :replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}}

  :local
  {:replace-deps
   {io.github.nextjournal/clerk {:local/root "../clerk"}
    sicmutils/sicmutils {:local/root "../sicmutils"}}}}}
