{:deps {:aliases [:dev]}
 ;; This port has to match the port in `user.clj`.
 :dev-http {9000 "public"}
 
 :builds
 {:clerk
  {:target :esm
   :runtime :browser ;; `:custom` needed when developing ssr, will see WebSocket errors without it
   :output-dir "public/js"
   :release {:output-dir "build/"}
   :compiler-options {:source-map true}
   :build-options {:ns-aliases {nextjournal.devcards nextjournal.devcards-noop}}
   :modules {:viewer {:entries [demo.viewers]}}
   :js-options {:output-feature-set :es8}}}}
