{:deps {:aliases [:dev :nextjournal/clerk]}
 ;; This port has to match the port in `user.clj`.
 :dev-http {9000 "public"}
 :builds
 {:clerk
  {:target :browser
   :modules
   {:main
    {:entries
     [nextjournal.clerk.static-app
      nextjournal.viewer.notebook
      nextjournal.clerk.sci-viewer
      demo.viewers]}}
   :output-dir "public/js"
   :asset-path "/js"
   :compiler-options
   {:infer-externs :auto
    :optimizations :advanced}}}}
