{:paths ["src" "dev" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "{{clj-version}}"}
        org.mentat/emmy-viewers
        {:git/url "https://github.com/mentat-collective/emmy-viewers.git"
         :git/sha "{{emmy-viewers-sha}}"}
        io.github.nextjournal/clerk {:git/sha "{{clerk-sha}}"}}
 :aliases
 {:nextjournal/clerk {:exec-fn user/build!}}}
