{:description "TODO replace me with a description of your project!"
 :clerk-port 7777
 :emmy-viewers-sha "0a33ca99dc6d189b07bea50c484f2a3eaf2747b0"
 :clerk-sha "d80187013d7b7b96db3d8b114b8d99f687170668"
 :clerk-utils-sha "b98b74fa025b5543318a6b5beb1622fd35b4906e"
 :clj-version "1.11.1"
 :cljs-version "1.11.60"
 :http-server-port 8080
 :cname ""
 :transform
 [["notebooks" "notebooks"
   {"main.tmpl" "{{top/file}}/{{main/file}}.clj"}]
  ["dev" "dev"
   {"user.tmpl" "user.clj"}]]}
